.allStocksPadding {
  padding-top: 5%;
}

.allStocksBoarder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 0 3% 0;
  height: 60vh;
  border-radius: 10px;
  margin: 0 20% 5% 20%;
  background: #e5dfd63d;
  background: url('../assets/stock-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.7;
}

.companyInfo {
  margin-bottom: 0%;
}

.companyInfo.name {
  font-weight: 600;
  margin-top: 0;
}

.main h3 {
  text-align: center;
}
.allStocksBoarder h3 {
  color: white;
}

#input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-form input {
  margin-bottom: -3%;
}

.findStockBtn {
  font-size: 1.2em;
  height: 3em;
  width: 14%;
  margin: 8% 1% 4% 1%;
  border-radius: 15px;
  color: white;
  background: rgba(101, 153, 202, 0.35);
  transition: 1s;
}

.findStockBtn:hover {
  background: rgba(44, 92, 138, 0.98);
}

.modal-companyInfo {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 25px;
  background: white;
  width: 50%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -80%);
  background: #f5f5f5;
}

.errorMessage {
  color: red;
  text-align: center;
  font-family: 'Arvo', serif;
}

.select-companyInfo {
  display: flex;
  justify-content: center;
  margin: 5% 0 5% 0;
}

select {
  width: 30%;
  height: 3em;
  border-radius: 25px;
  font-size: 1.1rem;
}

.companyInfoBtn {
  width: 30%;
  height: 3em;
  margin-left: 1%;
  border-radius: 5px;
  font-size: 1.1rem;
  background: #a4c3df;
  transition: 1s;
}
.companyInfoBtn:hover {
  background: #194974;
  color: white;
}
.companyInfo-NotNowBtn {
  width: 30%;
  height: 3em;
  margin-left: 1%;
  border-radius: 5px;
  font-size: 1.1rem;
  background: #dd366e;
  transition: 1s;
}
.companyInfo-NotNowBtn:hover {
  background: #c23c69;
  color: white;
}

hr {
  border: 1px solid #607d8b;
  width: 80%;
}
