.flex-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-portfolio h1 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 9px;
}

#portfolio {
  margin: 0.5%;
}
.h1portfolio {
  text-align: center;
  padding: 1em 0 1em 0;
  font-family: 'Anton', sans-serif;
  letter-spacing: 9px;
}

#table {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: #ccd6df57;
  padding: 10px;
  width: 41em;
  border-radius: 5px;
}
.header-portfolio {
  display: flex;
  justify-content: space-around;
  width: 43em;
  margin-bottom: 1%;
  font-family: 'Quicksand', sans-serif;
}
#grid-item {
  background-color: rgba(255, 255, 255, 0.97);
  border: 1px solid rgba(12, 13, 23, 0.82);
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
  width: 5em;
  font-family: 'Oxygen', sans-serif;
}

.stockBtnEmpty-flex {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.stockBtnEmpty {
  margin-top: 2%;
  font-size: 1.2em;
  height: 3em;
  width: 9em;
  margin: 5% 1% 4% 1%;
  border-radius: 15px;
  color: white;
  background: rgba(101, 153, 202, 0.35);
  transition: 1s;
}

.stockBtnEmpty:hover {
  background: rgba(44, 92, 138, 0.98);
}
