body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
nav {
  background-color: gray;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}
.component {
  position: absolute;
  border-radius: 25px;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
